<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.edu.uffs.cadastroObjetos">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ConfigIp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Entrar"
                  android:label="Entrar" />
        <activity android:name=".Registrar"
                  android:label="Registrar"/>
        <activity android:name=".MeusLocais"
                  android:label="Meus Locais"/>
        <activity android:name=".NovoLocal"
                  android:label="Novo Local"/>
        <activity android:name=".ListaObjetos"
                  android:label="Lista de Objetos"/>
        <activity android:name=".NovoObjeto"
                  android:label="Novo Objeto"/>
        <activity android:name=".UploadActivity"
                  android:label="Resumo"/>
    </application>

</manifest>
